{% extends "admin/change_form.html" %}
{% block after_field_sets %}
<script>
	(function($) {
		$('.field-type').after($('.field-description'));
		$('fieldset.module.aligned').prepend($('.field-name'));
	})(django.jQuery);
</script>
<style>
	.nani-language-tabs + form .field-name,
	.nani-language-tabs + form .field-description
	{
		background: #dfd;
	}
	select, input {width: 25em!important;}
	input.vIntegerField {width: 10em!important;}
	input[type=checkbox] {width: 20px!important;}
</style>
{% endblock %}
