{% extends "admin/change_form.html" %}
{% block after_field_sets %}
<script>
	(function($) {
		$('fieldset.module.aligned').prepend($('.field-title'));

		$('.field-title').after($('.field-header'));
		$('.field-header').after($('.field-keywords'));
		$('.field-keywords').after($('.field-description'));
		
		$('.field-category').after($('.field-intro_text'));
		$('.field-intro_text').after($('.field-text'));
	})(django.jQuery);
</script>
<style>
	.nani-language-tabs + form .field-title,
	.nani-language-tabs + form .field-header,
	.nani-language-tabs + form .field-keywords,
	.nani-language-tabs + form .field-description,
	.nani-language-tabs + form .field-intro_text,
	.nani-language-tabs + form .field-text
	{
		background: #dfd;
	}
	select, input {width: 25em!important;}
	input.vIntegerField {width: 10em!important;}
	input[type=checkbox] {width: 20px!important;}
</style>
{% endblock %}
