{% extends 'base.html' %}

{% block content %}
	<h1 class='b-news-category__name'>
		{% if seo.header %}{{ seo.header }}{% else %}{{ header }}{% endif %}
	</h1>

	<div class='b-news-category__description'>
		{{ category.description|safe }}
	</div>

	<div class='b-news-list'>
	{% for item in pages_list %}
		<div class='b-news-item'>
			<time class='b-news-item__date'>{{ item.created_at }}</time>
			<a class='b-news-item__title' href='{{ item.get_absolute_url }}'>{{ item.header }}</a>
			<div class='b-news-item__description'>{{ item.intro_text|safe }}</div>
		</div>
	{% endfor %}
	</div>

	{% include 'cms/__blocks/paginator.html' %}
{% endblock %}
